
.about_main_banner { min-height:128px !important; }

.left-about-banner { text-align:center; min-height:128px; padding: 13px 0; }

.left-about-banner a img { text-align:center; }

.right-about-banner { text-align:center; min-height:128px; padding: 13px 0; }

.right-about-banner a img { text-align:center; }

.carousel .item { height:128px !important; background:none !important; }

.about-listing ul { padding: 0; margin: 0; width:200px; }

.about-listing ul li { list-style:none; padding: 0 0 0 10px; margin: 0 0 2px 0; width:100%; }

.about-listing ul li a { color: #404040; font-size:24px; font-family: ArnoPro-Regular; padding: 0 5px 0 0; margin: 0; text-decoration:none; }

.about-content { text-align:justify; min-height:700px; }

.about-content h1 { margin: 0; font-size:36px; font-family: ArnoPro-Regular; background:#484848; color:#FFF; max-width:190px; height:42px; padding: 5px 10px; }

.about-content h2 { color:#000000; font-size:37px; font-family: ArnoPro-Regular; padding: 0; margin: 0; }

.about-content h2 img { margin-top:-8px !important; border: 1px solid #c9c9c9; border-radius:5px; }

.about-content p { font-size:14px; color:#474747; font-family: ArnoPro-Regular; padding: 10px 0 12px 0; margin:0; }

.border-bottom-p {border-bottom: 1px solid #c4c4c4; clear:both; padding: 0; margin: 0; }

.location-content { text-align:justify; min-height:700px; }

.location-content h1 { margin: 0; font-size:36px; font-family: ArnoPro-Regular; background:#484848; color:#FFF; max-width:190px; height:42px; padding: 5px 10px; }

.location-content h2 { color:#000000; font-size:37px; font-family: ArnoPro-Regular; padding: 0; margin: 15px 0 0 0; }

.location-content h2 img { margin-top:-8px !important; border: 1px solid #c9c9c9; border-radius:5px; }

.location-content p { font-size:14px; color:#474747; font-family: ArnoPro-Regular; padding: 10px 0 15px 0; }

.location-content p a img { right: 0; float:right; }

.about-mosque { float:right; bottom: 0; position:fixed; max-width:100%; right: 150px; bottom:37px; }

.about_us_part { margin-top:40px; }

.first_about_us { height:100% !important; height:auto !important; max-height:2300px; min-height:813px; }

.second_about_us { height:100% !important; height:auto !important; max-height:2300px; min-height:813px; }

.third_about_us { height:100% !important; height:auto !important; max-height:2300px; min-height:813px; }

.fourth_about_us { height:100% !important; height:auto !important; max-height:2300px; min-height:813px; }

.fifth_about_us { height:100% !important; height:auto !important; max-height:2300px; min-height:813px; }

.about-content ul li { font-size:14px; color:#474747; font-family: ArnoPro-Regular; }

.about-list ul li { font-size:16px; color:#474747; font-family: ArnoPro-Regular; font-weight:bold; }

.about-list span { font-size:14px; color:#474747; font-family: ArnoPro-Regular; }

.about-mosque-big-img { position:absolute; float: right; right: 150px; margin-bottom:37px; top:3650px; }

#abount_us_page { position:fixed; }

.we-located-end { margin-bottom:50px; }

.founder-list { border-right: 2px solid #2c9eca; z-index:1; }

.founder-span { background:#2c9eca; display:block; width:100%; position:absolute; height:33px; padding: 0; margin: 0 0 0 -10px; z-index:-1; }

.history-list { border-right: 2px solid #8cc63f; z-index:1; }

.history-span { background:#8cc63f; display:block; width:100%; position:absolute; height:34px; padding: 0; margin: 0 0 0 -10px; z-index:-1; }

.vision-list { border-right: 2px solid #ffc900; z-index:1; }

.vision-span { background:#ffc900; display:block; width:100%; position:absolute; height:34px; padding: 0; margin: 0 0 0 -10px; z-index:-1; }

.research-list { border-right: 2px solid #77c8aa; z-index:1; }

.research-span { background:#77c8aa; display:block; width:100%; position:absolute; height:34px; padding: 0; margin: 0 0 0 -10px; z-index:-1; }

.publish-list { border-right: 2px solid #636999; z-index:1; }

.publish-span { background:#636999; display:block; width:100%; position:absolute; height:34px; padding: 0; margin: 0 0 0 -10px; z-index:-1; }

.about-listing ul li a:hover { color:#FFF; }

.f-text { padding-top:1px !important; display:block; height:31px; }

.activelist a { color:#FFF !important; }

.country-border { border-right: 1px solid #c4c4c4; }

.list-property ul li { background:url(../images/location-marker.png) no-repeat; list-style:none; font-family: ArnoPro-Regular; padding-left:20px; display:block; margin: 5px 0; }

.list-property ul li ul li { margin-left:10px; list-style:circle !important; }

@media (max-width: 1399px) {

    .about-content { min-height:400px; }

}

@media (max-width: 1200px) { #abount_us_page { position:relative; } }

@media (max-width: 1199px) { 

    .left-about-banner { min-height:155px; padding: 30px 0 0 0; }

    .right-about-banner { min-height:157px; padding: 30px 0 0 0; }

    .about_main_banner { background:url(../images/banner_responsive_03.jpg) repeat-x; }

    .about_main_img { display:none !important; }

    .carousel .item { height:314px !important; }
	
	.country-border { border-right: none; }

}