
.carousel.slide img { height: auto !important; width: auto !important; }

.ships-img { float:right !important; right:20% !important; top:5% !important; position:absolute; }

.carousel-caption p { margin-bottom: 0 !important; }

.career-banner { background:url(../images/careers-banner_02.jpg) no-repeat center; width:100%; height:252px; margin-bottom:30px; background-size:cover; }

.careers-banner-text { margin-top: 65px; padding: 5px 0; float:left; width:100%; }

.career-banner h1 { padding: 0 0 0 20px; color:#FFF; font-family:"Times New Roman", Times, serif; font-size:35px; margin: 0; }

.career-banner p { padding: 0 0 0 20px; margin: 0; color:#FFF; font-family:"Times New Roman", Times, serif; font-size:20px; }

.career-links { float:right; width:25%; padding-top:72px; }

.career-links li { list-style:none; padding: 10px 0 20px 0; height:60px; }

.career-links li a { padding: 0px 20px; margin-top:10px; float:left; color:#FFF; font-size:14px; font-family:"Times New Roman", Times, serif; }

.career-links li a:hover { color:#353535; }

.career-links li img { float:right; padding-right:20px; margin-top:5px; }

.main-career { padding: 0; margin: 12px 0; float:left; }

.our-team { background:url(../images/our-team-bg.jpg) center; height:330px; padding: 0; margin: 0 auto; border: 1px solid #bfbfbf; border-radius:10px; width:230px; }

.our-team h1 { color:#FFF; font-size:35px; font-weight:normal; font-family:"Times New Roman", Times, serif; text-align:center; margin-top:100px; margin-bottom: 0!important; }

.our-team p { padding: 0 8px; margin: 0; color:#FFF; font-size:12px; font-family:"Times New Roman", Times, serif; text-align:justify; }

.career-founder { text-align:center; border: 1px solid #bfbfbf; border-radius:10px; margin-top:173px; padding-bottom:45px; }

.career-founder h2 { color:#555555; font-size:24px; font-family:"Times New Roman", Times, serif; padding: 0; margin:10 0 0 0 !important; }

.career-founder p { color:#2c9eca; font-size:18px; font-family:"Times New Roman", Times, serif; margin: 0; padding: 0; }

.career-name-img { margin-top:-45px; width:155px !important; height:177px !important; }

.career-founder img { position:relative; margin-right: auto; margin-left: auto;  }

.career-founder-right { text-align:center; border: 1px solid #bfbfbf; border-radius:10px; margin-top:80px; padding-bottom:45px; }

.career-founder-right h2 { margin-top:10px; color:#555555; font-size:24px; font-family:"Times New Roman", Times, serif; }

.career-founder-right p { color:#2c9eca; font-size:18px; font-family:"Times New Roman", Times, serif; margin: 0; padding: 0; }

.career-name-img { margin-top:-45px; }

.career-founder-right img { position:relative; margin-right: auto; margin-left: auto; }

.career-news { border: 1px solid #bfbfbf; border-radius:10px; float:left; }

.career-news section { padding: 5px 0 5px 10px; margin: 0; background:#2c9eca; border: 1px solid #bfbfbf; border-radius:10px 10px 0 0; color:#ffffff; font-size:25px; font-family:"Times New Roman", Times, serif; }

.career-dates { padding: 0; margin: 4px 0 0 0; float:left; padding-bottom:4px; }

.career-date-left { float:left; width:20%; border-top: 3px solid #2c9eca; padding: 0; margin: 0 3px; }

.career-date-left h3 { color:#000000; font-size:20px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 0; text-align:center; line-height:25px; }

.career-date-left p { color:#edb821; font-size:40px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 0; text-align:center; line-height:35px; }

.career-date-right { float:left; width:70%; padding: 0 0 0 10px; text-align:justify; margin: 0 0 10px 0; }

.career-date-right p { color:#000000; font-size:12px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 0; line-height:16px; }

.middle-career { padding: 0; margin: 12px 0; float:left; }

.our-programs { border: 1px solid #bfbfbf; padding: 0; margin: 0; text-align:left; height: 250px; overflow-y:scroll; overflow-x:none; }

.our-programs::-webkit-scrollbar { width: 12px; }

.our-programs::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }

.our-programs::-webkit-scrollbar-thumb { background:#2c9eca; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }

.our-programs::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }

.our-programs h4 { color:#ffffff; font-size:29px; font-family:"Times New Roman", Times, serif; padding: 5px 0 5px 30px; margin: 0; background:#2c9eca; }

.our-programs p { color:#757575; font-size:12px; font-family:"Times New Roman", Times, serif; padding:17px 30px; margin: 0; }

.opening { background:url(../images/career-opening.jpg); height:250px; padding: 0; margin: 0 auto; text-align:center; width:230px; }

.opening h4 { color:#ffffff; font-size:45px; font-family:"Times New Roman", Times, serif; padding: 5px 0; margin: 0; }

.career-top-stars { margin-top:70px; }

#jobsapplication { padding: 5px; margin: 0; }

.submit-resume { background:url(../images/submit-career.jpg); height:250px; padding: 0px 0 0 0; margin: 0 auto; text-align:center; width:230px; }

#job-form { margin-top:10px; }

#job-form p { color:#000; font-size:15px; font-family:"Times New Roman", Times, serif; padding: 0; margin-left: 20px; text-align:center; position: absolute; }

#close { top: 10px; right:35px; }

#cv_file_name { border: none; width:100%; border:1px solid #333; border-radius:3px; padding: 2px; margin: 3px 0; }

#cv_file { border:none; color:#353535; font-size:15px; font-family:"Times New Roman", Times, serif; }

.choose_file {  margin: 3px 0 0 0px !important; }

.submit-resume h4 { color:#000; font-size:45px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 70px 0 0 0; }

.submit-resume p { color:#000; font-size:15px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 0; }

.daily-effects { border: 1px solid #bfbfbf; padding: 0; margin: 0; height:250px; overflow-y:scroll; overflow-x:none; }

.daily-effects::-webkit-scrollbar { width: 12px; }

.daily-effects::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }

.daily-effects::-webkit-scrollbar-thumb { background:#2c9eca; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }

.daily-effects::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }

.daily-effects h4 { color:#ffffff; font-size:29px; font-family:"Times New Roman", Times, serif; padding: 5px 0 5px 10px; margin: 0; background:#2c9eca; }

.daily-facts { padding: 0px 10px 40px 10px; margin: 0; }

.daily-facts h2 { color:#2c9eca; font-size:26px; font-family:"Times New Roman", Times, serif; padding: 0 0 0 5px; margin: 0; }

.daily-facts h2 span { float:right; background:#2c9eca; color:#ffffff; padding: 0 5px; }

.daily-facts p { color:#757575; font-size:12px; font-family:"Times New Roman", Times, serif; padding: 0px 0 3px 5px; margin:10px 0 0 0; }

.fact-border { border-top: 1px solid #bfbfbf; }

.connect-career { padding: 0; margin: 0px 0 0 0; }

.connection { background:url(../images/careers-banner_02.jpg) no-repeat center; height:145px; margin: 0 auto; }

.connection h3 { text-align:center; padding-top:50px; color:#ffffff; font-size:45px; font-family:"Times New Roman", Times, serif; }

.connection h3 span { }

.stay-connected { text-align:left; padding: 0 30px; }

.stay-connected h3 { font-size:29px; color:#232323; font-family:"Times New Roman", Times, serif; font-weight:normal; padding: 20px 0 0 0; margin: 0; }

.stay-connected a img { margin-top:10px; } 

.stay-connected p { text-align:left; font-size:24px; color:#000000; font-family:"Times New Roman", Times, serif; padding: 5px 0 0 0; margin: 0 !important; }

.daily-tweets { border-top: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf; padding: 0; margin: 10px 0 0 0; text-align:justify; height:158px; }

.daily-tweets h4 { color:#ffffff; font-size:29px; font-family:"Times New Roman", Times, serif; padding: 5px 0 5px 40px; margin: 0; background:#2c9eca; }

.daily-tweets p { color: #000000; font-family: "Times New Roman",Times,serif; font-size: 12px; height: 74px; margin: 0; overflow: hidden; padding: 7px 28px; text-overflow: ellipsis !important; white-space:normal; }

.daily-tweets p a { color:#000000; font-size:12px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 0; }

.go-and-do { padding: 0 0 0px 0; margin: 12px 0 0 0; width:100%; float:left; }

.go { background:#ffb400; padding: 0; margin: 0 0 5px 0; min-height:132px; }

.go h2 { color:#000; font-size:70px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 28px 0 0 0; }

.go-p { margin-top:25px; }

.go p { padding: 0; margin: 0; }

.go p a { color:#000; font-size:20px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 0; }

.go p a:hover { text-decoration:none; color:#FFF; }

.our-go-padding { padding-left: 0px !important; padding-right: 7px !important; }

.our-do-padding { padding-left: 7px !important; padding-right: 0px !important; }

.do { background:#f58e1e; min-height:132px; padding: 0; margin: 0 0 10px 0; }

.do h2 { color:#FFF; font-size:70px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 28px 0 0 0; }

.do-p { margin-top:12px; }

.do p { padding: 0; margin: 0; line-height:21px; }

.do p a { color:#FFF; font-size:20px; font-family:"Times New Roman", Times, serif; padding: 0; margin: 0; }

.do p a:hover { text-decoration:none; color:#000; }

.left-carousal { float:left; min-height:300px !important; }

.see-all-events { padding: 13px 0 0 0; margin: 0; }

.see-all-events a { font-family:"Times New Roman", Times, serif; font-size:12px; color:#000000; padding: 0; margin: 0; }

.our-program-padding { padding-left: 0 !important; padding-right :0 !important; }

.our-career-padding { padding-left: 10px !important; padding-right: 10px !important; }

.carousel.slide img {
    width:100%;
    height:auto;
}

@media (max-width: 1400px) {

.ships-img { right:10% !important; }

}

@media (max-width: 1200px) {

.left-main-carsal { width:50%; float:left; margin-bottom:30px;  }

}