
#jobs { width:100%; float:left; padding: 0; margin: 0; }

#jobs article { width:960px; padding: 0; margin: 0 auto; }

.left_job { background:url(../images/lamp_03.png) no-repeat; height:714px; width:33%; float:left; padding: 0; margin: 30px 0 0 0; }

.right_job { width:67%; float:left; padding: 110px 0 0 0; margin: 0; }

.right_job h1 { color:#6f6f6f; font-size:39px; font-weight:normal; font-family: ArnoPro-Regular; padding: 0; margin: 0; text-align:center; }

.right_job h2 { color:#484848; font-size:76px; font-weight:normal; font-family: ArnoPro-Regular; padding: 0; margin: 0; text-align:center; }

.upload_cv { width:90%; padding: 0; margin: 50px 0 0 40px; }

.upload_cv p { color:#6f6f6f; font-size:21px; font-family: ArnoPro-Regular; padding: 0; margin: 0; }

.upload_cv input[type=text] { float:left; width:65%; height:31px; border:none; border:1px solid #c7c7c7; color:gray; font-size:14px; background:#ffffff; padding: 0 5px; margin: 0; }

.upload_cv input[type=button] { float:left; width:30%; height:33px; border:none; color:#C7C7C7; font-size:16px; background:#484848; margin: 0 0 0 5px; text-align:center; }

.lower_job { padding: 0; margin: 246px 0 0 -264px; }

.lower_job h3 { padding: 0; margin: 0; color:#474747; font-size:20px; }

.lower_job p { padding: 0; margin: 0; color:#474747; font-size:10px; width: 690px; text-align: justify; }
#cv_file{
    cursor: pointer;
    font-size: 28px;
    height: 45px;
    margin: -35px 0 0;
    opacity: 0;
}


.upload_cv input[type="submit"] {
    background: none repeat scroll 0 0 #484848;
    border: 1px solid #C7C7C7;
    color: #C7C7C7;
    float: right;
    font-family: ArnoPro-Regular;
    font-size: 25px;
    height: 30px;
    margin: 20px 12px 0;
    padding: 1px 0 0;
    text-align: center;
    width: 88px;
}
.upload_cv input.error {
    border: 1px solid red;
}

::-webkit-input-placeholder {
    color: #B9B9B9;
}

:-moz-placeholder { /* Firefox 18- */
    color: #B9B9B9;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #B9B9B9;  
}

:-ms-input-placeholder {  
    color: #B9B9B9;  
}
